#sidebar-toggler {
	position: absolute;
	bottom: 30px;
	right: 35px;
	z-index: 1001;
}

#sidebar-toggler button {
	width: 35px;
	height: 35px;
	background-color: #1f9af0;
	border-radius: 50%;
	-webkit-box-shadow: 0 6px 10px 0 #666;
	        box-shadow: 0 6px 10px 0 #666;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	font-size: 15px;
	color: #fbfbfb;
	text-align: center;
	border: 0;
	outline: 0;
	cursor: pointer;
	opacity: 0.4;
}

#sidebar-toggler button:hover {
   -webkit-box-shadow: 0 6px 14px 0 #666;
           box-shadow: 0 6px 14px 0 #666;
   -webkit-transform: scale(1.05);
           transform: scale(1.05);
   opacity: 1;
}
